//텍스트 : 당구장
.pubRefer {
    margin-top: 12px; color: var(--text-color-G500); font-size: rem(18px); font-style: normal; font-weight: 400; line-height: 160%; display: block; position:relative; font-weight:400; line-height:160%;

    & + .pubRefer {margin-top: 0;}
    &.bold {
        color: var(--color-primary-blue-900, #0A4991); font-size:rem(16px); font-weight: 600;
        @include media ('mobile') {
            font-size:rem(15px);
        }
    }
    &.dark {
        color: var(--text-color-G700, #3A3F49); font-size:rem(16px); font-weight: 400;
        @include media ('mobile') {
            font-size:rem(15px);
        }
    }
    em {
        font-weight: 600;
    }

    &.sm {
        padding-left:21px; font-size:rem(16px); 
        &::before {
            content:'※'; position:absolute; top:0; left:0; font-size:rem(16px); font-weight:400; line-height:160%;
            @include media ('mobile') {
                font-size:rem(15px);
            }
        }
        @include media ('mobile') {
            font-size:rem(15px);
        }
    }
}