//기본 텍스트 리스트
.pubTextList {
    margin-top: 12px;
    .textListItem {
        padding-left: 21px; margin-top: 8px; position: relative;
        &:first-child {margin-top: 0;}
        &::before{
            content: ""; width: 5px; height: 5px; border-radius: 50%; background: var(--color-primary-blue-400); display: block; position: absolute; left: 8px; top: 12px;
        } 
    }
}
