//QNA
.comQna {

    .qnaBox {
        counter-reset: list; // counter

        .question {
            counter-increment: list; // counter
            padding: 20px 28px; display: flex; flex-direction: row; align-items: flex-start; align-self: stretch; border-radius: 8px; background: var(--bg-color-B100, #EEF7FF);
            color: var(--text-color-G800, #24272D); font-size: rem(20px); font-weight: 700; line-height: 160%; margin-top: 60px; margin-bottom: 28px;

            &:first-child{
                margin-top: 0;
            }

            &::before {
                    display: inline-block; color: var(--text-color-B500, #107AF2); padding-right: 8px;
                    content: "Q" counter(list) ". "; // counter 예시) Q1. , Q2. , Q3. , ... => 문자+숫자
                    // content: counter(list, decimal-leading-zero) ". "; // 예시) counter 01. , 02. , 03. , ... => 숫자만
            }

            @include media('mobile') {
                margin-top: 40px; margin-bottom: 20px; padding: 12px 16px; font-size: rem(18px);
            }

        }

        .answer {
            font-size: 0;

            > * {
                font-size: rem(18px);
            }

            > ul {
                > li {
                    padding-left: 21px; margin-top: 8px; color: var(--text-color-G800, #24272D); font-size: rem(18px); font-style: normal; font-weight: 400; line-height: 160%; position: relative;
                    &:first-child {margin-top: 0;}
                    &::before {content:""; width: 5px; height: 5px; border-radius: 50%; background: var(--color-primary-blue-400, #329CFF); display: block; position: absolute; left: 8px; top: 12px;}
                    .pubCaption {margin-top: 4px;}

                    @include media('mobile') {
                        font-size: rem(17px);
                    }

                }
            }
        }

    }
}
