/* --------------------------- 서브 하단 --------------------------- */
.comSubBtm {
    //width: 100%; max-width: 1280px; padding: 0 40px; margin: 60px auto 0; position: relative;
    width: 100%; margin-top: 60px; position: relative;
    .subBtmArea {
        width: 100%; padding: 28px 32px; border-radius: 8px; background: var(--bg-color-G100, #F8F9FC); display: flex; justify-content: space-between; gap: 10px;
        .manager {
            width: max-content; max-width: 100%; display: flex;
            dt {
                width: max-content; padding-left: 28px; color: var(--text-color-G700, #3A3F49); font-size: rem(16px); font-style: normal; font-weight: 600; line-height: 160%; /* 25.6px */ position: relative; flex-shrink: 0;
                &::before {content: ""; width: 24px; height: 24px; background: url(/common/images/common/ic_24_btm_manager.svg) center no-repeat; display: block; position: absolute; left: 0; top: 0;}
            }
            dd {
                
                ul {
                    
                    li {
                        margin-left: 12px; color: var(--text-color-G700, #3A3F49); font-size: rem(16px); font-style: normal; font-weight: 400; line-height: 160%;
                    }   
                }
            }
        }
        .btmList {
            width: max-content;
            li {
                width: max-content; padding-left: 28px; color: var(--text-color-G700, #3A3F49); font-size: rem(16px); font-style: normal; font-weight: 600; line-height: 160%; /* 25.6px */ position: relative;
                &::before {content: ""; width: 24px; height: 24px; background: url(/common/images/common/ic_24_btm_phone.svg) center no-repeat; display: block; position: absolute; left: 0; top: 0;}
            }
        }

        // 텍스트 중앙 정렬 버전
        &.subCenterArea {
            .btmList {
                margin: 0 auto; text-align: center;

                .phone {
                    &::before {
                        @include media('mobile') {
                            top: 50%; transform: translateY(-50%);
                        }
                    }
                }

                .line {
                    @include media('mobile') {
                        display: block;
                    }
                }

                @include media('mobile') {
                    margin: 0 auto 0 0; text-align: left;
                }
            }
        }
    }
    @include media('mobile') {
        margin-top: 40px;
        .subBtmArea {
            padding: 20px 16px; flex-wrap: wrap;
            .manager {
                width: max-content; display: flex;
                dt {
                    font-size: rem(15px);
                }
                dd {
                    ul {
                        li {
                            font-size: rem(15px);
                        }   
                    }
                }
            }
            .btmList {
                li {
                    font-size: rem(15px);
                }
            }
        }
    }
}
