//완료정보
.comComplete {
    position:relative; width:100%; 

    &.chkIco {
        &::before {
            content:''; position:absolute; top:0; left:50%; transform:translateX(-50%); width:90px; height:90px; border-radius:50%;
            background:var(--bg-color-B100) url(/common/images/common/ic_50_chk.svg)center center no-repeat;

            @include media("mobile") {
                width:70px; height:70px;
            }
        }

        padding-top:110px;
    }

    > .completeTxt {
        width:100%;

        > p {
            text-align:center;

            &.title {
                font-size:rem(30px); font-weight:600; line-height:150%; color:var(--text-color-G900);
                @include media("mobile") {
                    font-size:rem(24px);
                }

                > em {
                    color:var(--text-color-B500); font-weight:600;
                }
            }

            &.desc {
                font-size:rem(18px); font-weight:400; line-height:160%; margin-top:20px; color:var(--text-color-G700);
                em {color: var(--color-primary-blue-900, #0A4991); font-weight: 600;}
                @include media("mobile") {
                    font-size:rem(17px);
                }
            }
        }
    }
    & + .comTicketInfo {
        margin-top: 40px;
        @include media("mobile") {margin-top: 32px;}
    }
}