@use "@/styles/etc/mixin" as *;

//신청절차
.comStepInfo {
    width: 100%; padding: 24px 0; margin-top: 12px; display: flex; position: relative; z-index: 0;
    &:first-child {margin-top: 0;}
    .stepList {
        width: 100%; display: flex; justify-content: space-between;
        .stepItem {
            width: 100%; padding: 140px 12px 0; display: flex; flex-wrap: wrap; align-content: flex-start; flex-grow: 1; position: relative;
            &::before {content:""; width: 50%; height: 1px; background: var(--border-color-G300, #D6DBE1); display: block; position: absolute; left: 0; top: 60px; z-index: -1;}
            &::after {content:""; width: 50%; height: 1px; background: var(--border-color-G300, #D6DBE1); display: block; position: absolute; right: 0; top: 60px; z-index: -1;}
            &:first-child::before {display: none;}
            &:last-child::after {display: none;}
            .eyebrow {width: 100%; color: var(--text-color-B500, #107AF2); text-align: center; font-size: rem(18px); font-style: normal; font-weight: 600; line-height: 160%; display: block;}
            .tit {width: 100%; color: var(--text-color-G900, #111); text-align: center; font-size: rem(20px); font-style: normal; font-weight: 700; line-height: 160%; display: block;}
            .desc {width: 100%; margin-top: 12px; color: var(--text-color-G700, #3A3F49); text-align: center; font-size: rem(16px); font-style: normal; font-weight: 400; line-height: 160%; display: block;}
            &.icon001 {background: url(/images/common/ic_120_box_002.png) center top no-repeat;}
            &.icon002 {background: url(/images/common/ic_120_box_006.png) center top no-repeat;}
            &.icon003 {background: url(/images/common/ic_120_box_007.png) center top no-repeat;}
            &.icon004 {background: url(/images/common/ic_120_box_008.png) center top no-repeat;}
            &.icon005 {background: url(/images/common/ic_120_box_009.png) center top no-repeat;}
            &.icon006 {background: url(/images/common/ic_120_box_011.png) center top no-repeat;}
            &.icon007 {background: url(/images/common/ic_120_box_012.png) center top no-repeat;}
            &.icon008 {background: url(/images/common/ic_120_box_013.png) center top no-repeat;}
            &.icon009 {background: url(/images/common/ic_120_box_001.png) center top no-repeat;}
            &.icon010 {background: url(/images/common/ic_120_box_029.png) center top no-repeat;}
            &.icon011 {background: url(/images/common/ic_120_box_005.png) center top no-repeat;}
            &.icon012 {background: url(/images/common/ic_120_box_017.png) center top no-repeat;}
            &.icon013 {background: url(/images/common/ic_120_box_030.png) center top no-repeat;}
            &.icon014 {background: url(/images/common/ic_120_box_019.png) center top no-repeat;}
        }
    }
    @include media('mobile') {
        padding: 0;
        .stepList {
            width: 100%; flex-wrap: wrap;
            .stepItem {
                min-height: 120px; padding: 28px 0px 20px 100px; gap: 4px 8px;
                &::before {content:""; width: 1px; height: 50%; position: absolute; left: 40px; top: 0;}
                &::after {content:""; width: 1px; height: 50%; position: absolute; left: 40px; right: auto; top: auto; bottom: 0;}
                &:first-child::before {display: none;}
                &:last-child::after {display: none;}
                .eyebrow {width: max-content; text-align: left; font-size: rem(17px);}
                .tit {width: max-content; text-align: left; font-size: rem(18px);}
                .desc {width: 100%; margin-top: 0; text-align: left; font-size: rem(15px);}
                &:not(:has(.desc)) {
                    .eyebrow {
                        width: 100%;
                    }
                }

                &.icon001 {background: url(/images/common/ic_120_box_002.png) left 20px / 80px no-repeat;}
                &.icon002 {background: url(/images/common/ic_120_box_006.png) left 20px / 80px no-repeat;}
                &.icon003 {background: url(/images/common/ic_120_box_007.png) left 20px / 80px no-repeat;}
                &.icon004 {background: url(/images/common/ic_120_box_008.png) left 20px / 80px no-repeat;}
                &.icon005 {background: url(/images/common/ic_120_box_009.png) left 20px / 80px no-repeat;}
                &.icon006 {background: url(/images/common/ic_120_box_011.png) left 20px / 80px no-repeat;}
                &.icon007 {background: url(/images/common/ic_120_box_012.png) left 20px / 80px no-repeat;}
                &.icon008 {background: url(/images/common/ic_120_box_013.png) left 20px / 80px no-repeat;}
                &.icon009 {background: url(/images/common/ic_120_box_001.png) left 20px / 80px no-repeat;}
                &.icon010 {background: url(/images/common/ic_120_box_029.png) left 20px / 80px no-repeat;}
                &.icon011 {background: url(/images/common/ic_120_box_005.png) left 20px / 80px no-repeat;}
                &.icon012 {background: url(/images/common/ic_120_box_017.png) left 20px / 80px no-repeat;}
                &.icon013 {background: url(/images/common/ic_120_box_030.png) left 20px / 80px no-repeat;}
                &.icon014 {background: url(/images/common/ic_120_box_019.png) left 20px / 80px no-repeat;}
            }
        }
    }
}
