@use "@/styles/etc/mixin" as *;
//게시판 이전글/다음글
.comNextPrev {
    width:100%; position:relative; margin:40px 0;
    .npGroup {
        display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;
        .npTitle {
            width:160px; text-align:center; font-size:rem(18px); font-weight:600; line-height:160%; border-top:1px solid var(--border-color-G300);  padding:16px 0;  border-bottom:1px solid var(--border-color-G300); 
            @include media ('mobile') {
                width:60px; font-size:rem(17px); padding: 20px 0;
            }
        }

        &:last-of-type {
            .npTitle {
                border-top:0;
            }

            .npCont {
                border-top:0;
            }
        }
        .npCont {
            display:flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; width:calc(100% - 160px); border-top:1px solid var(--border-color-G300); padding:16px 0;  border-bottom:1px solid var(--border-color-G300);
            @include media ('mobile') {
                width:calc(100% - 60px); padding: 20px 0;
            }
            .text {
                font-size:rem(18px); font-weight:400; line-height:160%; color:var(--text-color-G900);
                a {font-size:rem(18px); font-weight:400; line-height:160%; color:var(--text-color-G900);}
                @include media ('mobile') {
                    width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding: 0 12px; font-size:rem(17px);
                    a {font-size:rem(17px);}
                }
            }
            .date {
                width: 140px; color: var(--text-color-G600); text-align: center; font-size: rem(16px); font-style: normal; font-weight: 400; line-height: 160%;

                @include media ('mobile') {
                    display:none;
                }
            }
            &.noText {
                .text {
                    color:var(--text-color-G600);
                }
            }
        }
    }
}