
@use 'index' as *;

:root {
    --key-blue01:#00aede; 
    --key-text01:#00aede;
    --text-color-G900:#111;
    --text-color-G800:#24272D;
    --text-color-G700:#3A3F49;
    --text-color-G600:#565B64;
    --text-color-G500:#808892;
    --text-color-G400:#B9C1C9;
    --text-color-B500: #107AF2;
    --border-color-G900:#111;
    --border-color-G800:#24272D;
    --border-color-G700:#3A3F49;
    --border-color-G600:#565B64;
    --border-color-G500:#808892;
    --border-color-G400:#B9C1C9;
    --border-color-G300:#D6DBE1;
    --border-color-G200:#F3F6FB;
    --border-color-G100:#F8F9FC;
    --border-color-G50:#FCFCFE;
    --border-color-B500: #107AF2;
    --bg-color-G400:#B9C1C9;
    --bg-color-G300:#D6DBE1;
    --bg-color-G200:#F3F6FB;
    --bg-color-G100:#F8F9FC;
    --bg-color-B100:#EEF7FF;
    --bg-color-B500: #107AF2;
    --bg-color-DB500:#233850;
    --color-primary-blue-200:#CBE8FF;
    --color-primary-blue-300:#68bbff;
    --color-primary-blue-400: #329CFF;
    --color-primary-blue-500:#107AF2;
    --color-primary-blue-600:#0E6EDA;
    --color-primary-blue-700:#0D62C2;
    --color-primary-blue-800:#0C5CB6;
    --color-primary-blue-900:#0A4991;
    --color-danger-500:#EF2B2A;
    --color-placeholder:#808892;
    --color-gray-200: #F3F6FB;
    --color-gray-400: #B9C1C9;
    --color-gray-500: #808892;
    --color-secondary-orange-500:#FF6F3F;
    --color-secondary-dark-blue-400: #4B6889;
    --color-secondary-dark-blue-500: #233850;
    --color-secondary-dark-blue-800:#1a2a3c;
    --color-other-500: #FFDA01;
}

$basicFontSize:16px;

/* --------------------------- 변수 클래스 --------------------------- */
/*
.varTitle1 {
    color: var(--text-color-G900, #111); font-size: rem(30px); font-style: normal; font-weight: 600; line-height: 150%;
    @include media('mobile') {
        font-size: rem(24px);
    }
}
.varTitle2 {
    color: var(--color-primary-blue-900, #0A4991); font-size: rem(24px); font-style: normal; font-weight: 600; line-height: 150%;
    @include media('mobile') {
        font-size: rem(22px);
    }
}
.varTitle3 {
    color: var(--text-color-G900, #111); font-size: rem(22px); font-style: normal; font-weight: 600; line-height: 150%;
    @include media('mobile') {
        font-size: rem(20px);
    }
}
.varTitle4 {
    color: var(--text-color-G900, #111); font-size: rem(20px); font-style: normal; font-weight: 700; line-height: 160%;
    @include media('mobile') {
        font-size: rem(18px);
    }
}
.varBText {
    color: var(--text-color-G800, #24272D); font-size: rem(18px); font-style: normal; font-weight: 400; line-height: 160%;
    .colorRed {
        color: var(--color-danger-500, #EF2B2A);
    }
    em {font-weight: 600;}
    @include media('mobile') {
        font-size: rem(17px);
    }
}
.varBTextList {
    @extend .varBText; padding-left: 21px; margin-top: 8px; position: relative;
    &:first-child {margin-top: 0;}
    &::before {content:""; width: 5px; height: 5px; border-radius: 50%; background: var(--color-primary-blue-400, #329CFF); display: block; position: absolute; left: 8px; top: 12px;}
    .pubCaption {margin-top: 4px;}
    @include media('mobile') {
        padding-left: 17px;
        &::before {left: 4px; top: 12px;}
    }
}
*/

// @font-face {
// 	font-family: 'PretendardGOV';
// 	font-weight: 45 920;
// 	font-style: normal;
// 	font-display: swap;
// 	src: url('../../common/webfont/PretendardGOVVariable.woff2') format('woff2-variations');
// }


html {overflow-x: clip;}
* {box-sizing: border-box; font-family:'Roboto', 'PretendardGOV', sans-serif; letter-spacing: -0.05em; word-break: keep-all; -webkit-text-size-adjust: none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input, textarea {-webkit-border-radius:0; -webkit-appearance:none;}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
html,body,th,td,input,select,textarea,button {font-size:16px;line-height:1.5; font-family:'Montserrat', 'PretendardGOV', sans-serif; color:#000} /* color값은 디자인가이드에 맞게사용 */
a {color:#000;text-decoration:none}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
caption {font-size: 0;}

input[type=radio] {width:1px; height:1px; font-size:0; opacity:0.01; overflow:hidden;}
input[type=checkbox] {width:1px; height:1px; font-size:0; opacity:0.01; overflow:hidden;}

select {-moz-appearance:none; -webkit-appearance:none; appearance:none; -moz-border-radius:0; -webkit-border-radius: 0;border-radius: 0;  background:#fff url(/images/icon_select.png) calc(100% - 9px) center no-repeat;}
select::-ms-expand {display:none}
label {font-size: 0;}

.skip .quickBtn {display: block; width: 100%; height: 0px;background: #092473; font-size: 15px; color: #fff; overflow: hidden; text-align: center;}
.skip .quickBtn:focus {height:auto;}

.hide {font-size:0 !important; position:fixed; left:-5000px; top:0;}
.blind {width: 1px; height: 1px; font-size:0 !important; position:fixed; left:-5000px; top:0; overflow: hidden;}

body.noScrl {height:100vh; overflow:hidden;}

.onlyM {
    display: none;
    @include media('mobile') {
        display: inline;
    }
}
.onlyP {
    @include media('mobile') {
        display: none;
    }
}

/* 개발자 전용 클래스 */
.dNone {display: none !important}
.mt0 {margin-top: 0 !important;}
.mt80 {
    margin-top: 80px !important;
    @include media('mobile') {
        margin-top: 60px !important;
    }
}
.mt60 {
    margin-top: 60px !important;
    @include media('mobile') {
        margin-top: 40px !important;
    }
}
.mt45 {
    margin-top: 45px !important;
    @include media('mobile') {
        margin-top: 36px !important;
    }
}
.mt40 {
    margin-top: 40px !important;
    @include media('mobile') {
        margin-top: 30px !important;
    }
}

.mb30 {
    margin-bottom: 30px !important;
    @include media('mobile') {
        margin-bottom: 20px !important;
    }
}


.pt0 {padding-top: 0 !important;}


.flexLR {display: flex; justify-content: space-between;}

// .devGroup {margin-top: 40px;}
@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  
	.modPopup.on .popupArea {
		animation: none !important;
		bottom: 0 !important;
	}
	.modPopup.on .popupArea .popupInMotion {
		animation: none !important;
		transform: scale(1) !important;
		opacity: 1 !important;
	}

  
    
}
